.projects{
    background-color: black; 
color: #9CA3AF; 

width: 100%; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
padding-top: 1rem;
padding-bottom: 2.5rem; 
text-align: center; 
}

.header{
    display: flex; 
    margin-bottom: 5rem; 
    flex-direction: column; 
    width: 100%; 
}
h1.header-title{
    margin-bottom: 1rem; 
    color: #ffffff; 
    font-size: 3rem;
    line-height: 3.25rem; 
    font-weight: 1000; 
    
    @media (min-width: 640px) { 
      font-size: 2.25rem;
    line-height: 2.5rem; 
     }
}

.gallery{
    display: flex; 
margin: -1rem; 
flex-wrap: wrap; 

}

.card{
    display: flex; 
position: relative;
padding-inline: 10rem;

}



 .card-link{
    padding: 1rem; 
    text-decoration: none;
    display:center;
    width: 100%;

    @media (min-width: 640px) { 
      width: 5
        0%; 
     }

    
 }

 .card-details:hover{
    background-color: rgb(243, 242, 177);
}

 img.card-image{
    object-fit: cover; 
object-position: center; 
position: absolute; 
top: 0;
right: 0;
bottom: 0;
left: 0; 
width: 100%; 
height: 100%; 
 }

 .card-details{
    position: relative; 
z-index: 10; 
padding-left: 2rem;
padding-right: 2rem; 
padding-top: 2.5rem;
padding-bottom: 2.5rem; 
background-color: white; 
width: 100%; 
border-width: 4px; 
border-color:  #86a9cb; 
 }

 h2.card-text{
    margin-bottom: 0.25rem; 
color: gray;
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
letter-spacing: 0.1em; 

 }

 h1.card-text{
    margin-bottom: 0.75rem; 
color: #95bae0; 
font-size: 2rem;
line-height: 2rem; 
font-weight: 500; 
 }

 p.card-text{
    line-height: 1.625; 
    color: black
 }


